.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    margin-bottom: 20px;
    text-align: center;
  }
  &__button {
    gap: 10px;
    margin-top: 20px;
  }
}
